// Colors
$blue: #0046be;
$darkBlue: #003da6;
$lightgrey: #f4f6f9;
$greylines: #e0e6ef;
$white: #fff;
$yellow: #feef01;
$success: #2ecc71;
$error: #e74c3c;

// Fonts
$font-medium: 1em; // /16 to get rem
$font-small: 0.83em;
